[project]
	description = Static sites made powerful
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GLHONG
[access "refs/for/refs/*"]
	read = group user/GLHONG
	push = group user/GLHONG
	label-Code-Review = -2..+2 group user/GLHONG
	label-Verified = -1..+1 group user/GLHONG
	rebase = group user/GLHONG
	removeReviewer = group user/GLHONG
	submit = group user/GLHONG
[access "refs/heads/*"]
	read = group user/GLHONG
	create = group user/GLHONG
	push = +force group user/GLHONG
	pushMerge = group user/GLHONG
[access "refs/tags/*"]
	push = +force group user/GLHONG
	pushTag = group user/GLHONG
	pushSignedTag = group user/GLHONG
